<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--The divison of the request rides panel-->
<div class = "themed_background">
  padding-top : 150px;
  <div class = "text_box">
      padding : 300px;
      <h3>New ride request</h3>
      <p>From:</p>
      <select>
          <option value="Sixth">UCSD-Sixth</option>
          <option value="ERC">UCSD-ERC</option>
          <option value="UTC">UTC Mall</option>
          <option value="Regents">Regents La Jolla</option>
      </select>
      <p>To:</p>
      <select>
          <option value="Sixth">UCSD-Sixth</option>
          <option value="ERC">UCSD-ERC</option>
          <option value="UTC">UTC Mall</option>
          <option value="Regents">Regents La Jolla</option>
          </select>

      <p>I am going to: </p>
      <select>
          <option value="drive">Drive</option>
          <option value="ride">Ride</option>
      </select>

      <p>I need / have <textarea rows = "1" cols = "2"></textarea> seats
      </p>
      <button type="button" onclick="window.location.href = '/rides'">Submit</button>
  </div>
</div>
