<div class="content">
    <div id="map"></div>
    Destination: <input type="text" id="dest">
    <button onclick="searchPlace()">Search</button>
    <button onclick="getLocationForRide()">New Ride</button>
</div>
