<!-- remember to change actual style-->
<!-- This is the propsed title
<ul id = "navbar">
  <li><a href = "/">Carpool</a></li>
  <li><a href = "/rides">Rides</a></li>
  <li><a href = "/join">Join!</a></li>
  <li><a href = "/login">Login</a></li>
</ul>
-->
<h2 id="pitch-tag">Ridesharing redefined</h2>
<section id="welcome-messages" style="background-color:#90CAF9">
<p class="titles-home" id="introduction">Carpool is the fastest way to get a ride from near you to your destination!</p>
<p class="descriptions" id="about">Just enter where you want to go, and it will find nearest cars available to you, updated in real time. <img src="\images\welcome.jpg" alt="Car share image" width="300" id="welcome" align="middle"></p>


<section id="signup-process" style="background-color:#B2DFDB">
<p class="titles-home" id="sign-up">Anyone can sign up, anyone can become a driver!</p>
<p class="descriptions" id="sign-up-how"><img src="\images\signup.jpg" alt="Signup" id="signup" width="250" align="middle">You just need to set up an account with your information and you can start driving!</p>


<section id="why-credits" style="background-color:#FFB74D">
<p class="titles-home" id="credit">To ride, you need credits, which can be earned by being a driver yourself!</p>
<p class="descriptions" id="reason">We do this to incentivize a community of ridesharers and contributers to the community.<img src="\images\credits.jpg" alt="Coins" id="credits" width="250" align="middle"> </p> <br>
