<h1 id = "title">Carpool</h1> <!-- remember to change actual style-->
<!-- This is the propsed title
<ul id = "navbar">
  <li><a href = "/">Carpool</a></li>
  <li><a href = "/rides">Rides</a></li>
  <li><a href = "/join">Join!</a></li>
  <li><a href = "/login">Login</a></li>
</ul>
-->
<p id="main-title">Ridesharing redefined</p> <br>

<p class="titles" id="introduction">Carpool is the fastest way to get a ride from near you to your destination.</p>
<p class="descriptions" id="about">Just enter where you want to go, and it will find nearest cars available to you, updated in real time.</p> <br>
<p class="titles" id="sign-up">Anyone can sign up, anyone can become a driver!</p>
<p class="descriptions" id="sign-up-how">You just need to set 
