<!-- remember to change actual style-->
<!-- This is the propsed title
<ul id = "navbar">
  <li><a href = "/">Carpool</a></li>
  <li><a href = "/rides">Rides</a></li>
  <li><a href = "/join">Join!</a></li>
  <li><a href = "/login">Login</a></li>
</ul>
-->

<div id="ridesharing-redefined">
    <P id="pitch-tag1">Ridesharing.</P>
    <P id="pitch-tag2">Redefined.</P>
</div>
<div id="welcome-messages">
    <div>
        <h3 class="titles-home" id="introduction">
            The fastest way to get a ride.
        </h3>
        <p class="descriptions" id="about">
            Just enter where you want to go, and it will find nearest cars available to you, updated in real time.
        </p>
    </div>

    <h3 class="titles-home">
        Anyone can sign up, anyone can become a driver!
    </h3>
    <p class="descriptions">
        You just need to set up an account with your information and you can start driving!
    </p>

    <h3 class="titles-home">
        To ride, you need credits, which can be earned by being a driver yourself!
    </h3>
    <p class="descriptions">
        We do this to incentivize a community of ridesharers and contributers to the community.
    </p>
</div>
