<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="769999411158-860rv1faqnpdtbc7p192b0189s4u8ia4.apps.googleusercontent.com">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div id="header">
      <ul id="title-bar">
        <li id="company"><a class="active"href = "/"> Carpool </a> </li>
        <li id="logo-link"><a href = "/"> <img src="/images/click-carpool.jpg" width="80px" > </a> </li>
        <li id="rides-link"><a class = "active" href="/rides"> Rides </a> </li>
        <li id="drive-link"><a class="active" href = "/drive"> Drive </a> </li>
        <li id="signup-link"><a class="active" href = "/signup"> Sign Up </a> </li>
        <li id="login-link"><a class="active" href = "/login"> Login </a> </li>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </ul>
    </div>
    {{{body}}}
</body>

<script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
<script src="javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqwQCpkCG0Eiesift3wJiypcfgAMFiXz0&callback=initMap&libraries=places"
        async defer></script>
</html>
