<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">
      <ul id="title-bar">
        <li id="company"><a href = "/"> Carpool </a> </li>
        <li id="logo-link"><img src="/images/click-carpool.jpg" width="100px"; align="middle";></li>
        <li id="rides-link"><a class = "active" href="/rides"> Rides </a> </li>
        <li id="drive-link"><a href = "/drive"> Drive </a> </li>
        <li id="signup-link"><a href = "/signup"> Sign Up </a> </li>
        <li id="login-link"><a href = "/login"> Login </a> </li>
      </ul>
    </div>
    {{{body}}}
  </body>
</html>
