<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href = "./rides.html"> Rides </a> |
        <a href = "./signup.html"> Sign Up </a> |
        <a href = "./login.html"> Login </a>
    </nav>
    {{{body}}}
  </body>
</html>
