<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a class = "nav_tab" href = "/rides"> Rides </a> |
        <a class = "nav_tab" href = "/signup"> Sign Up </a> |
        <a class = "nav_tab" href = "/login"> Login </a>
    </nav>
    {{{body}}}
  </body>
</html>
