<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href = "/rides"> Rides </a> |
        <a href = "/signup"> Sign Up </a> |
        <a href = "/login"> Login </a>
    </nav>
    {{{body}}}
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
  <script src="javascripts/main.js"></script>
</html>
