<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="769999411158-860rv1faqnpdtbc7p192b0189s4u8ia4.apps.googleusercontent.com">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="header">
    <div id="title-bar" class="nav-bar">
        <div class="nav-group">
            <a id="company" class="nav-link" href = "/"> Carpool </a>
            <a id="logo-link" href="/"> <img src="/images/click-carpool.jpg" width="80px" > </a>
            <a id="rides-link" class="nav-link" href="/rides"> Rides </a>
            <a id="drive-link" class="nav-link" href = "/drive"> Drive </a>
        </div>
        <div class="nav-group">
            <a id="signup-link" class="nav-link" href = "/signup"> Sign Up </a>
            <a id="login-link" class="nav-link" href = "/login"> Login </a>
        </div>
        <!--<a href="javascript:void(0);" class="icon" onclick="mobile()">-->
        <!--<i class="fa fa-bars"></i>-->
        <!--</a>-->
    </div>
</div>
<div class="content">
    {{{body}}}
</div>
</body>

<script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
<script src="javascripts/main.js"></script>
</html>
