<div class="login-box">
    <p>Sign into your account with Google </p>
    <div id="signin-button" class="g-signin2" data-onsuccess="onSignIn">
    </div>

    <div class="no-account">
        Don't have an account? <a href="/signup"> Sign Up! </a>
    </div>
</div>

<script src="javascripts/google-signin.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
