<div class="login-box">
    <p>Sign into your account with Google </p>
    <div class="g-signin2" data-onsuccess="onSignIn">
    </div>

    <div class="no-account">
        Don't have an account? <a href="/signup"> Sign Up! </a>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
