<table>
    <tr>
        <td>
            <div  class = "drivers" style= "background-color:lightblue">
                <h3>Brian</h3>   
                <p>Car1     3 seats</p>
                <button type="button" onclick="alert('Successfully reserved Brian!')">Reserve Brian</button>
            </div>
            <div  class = "drivers" style= "background-color:lightblue">
                <h3>Nathan</h3>   
                <p>Car2     4 seats</p>
                <button type="button" onclick="alert('Successfully reserved Nathan!')">Reserve Nathan</button>
            </div>
            <div  class = "drivers" style = "background-color:lightblue">
                <h3>Garrett</h3>   
                <p>Car3     5 seats</p>
                <button type="button" onclick="alert('Successfully reserved Garrett!')">Reserve Garrett</button>
            </div>
        </td>

        <td>
            <h3>New ride request</h3>
            <textarea rows = "1" cols = "20">From...</textarea>
            <textarea rows = "1" cols = "20">To...</textarea>
        <td>
     </tr>
</table>
