<!--The division created for the whole thing-->
<div class="themed_background">
    <!--Left division: all the drivers-->
    <button id="refresh" onclick="refreshRides()">Refresh</button>
    <div id="driver-container" class="left_divider">
<!--        <div class="driver">-->
<!--            <p class="driver-name">Test name</p>-->
<!--            <p class="driver-seats">Seats Available: 4</p>-->
<!--        </div>-->
    </div>
</div>
