<!--<div class = "h-separators"></div>-->
<table>
    <!--This row is Brian / Nathan tab plus the reserve panel-->
    <tr>
        <!--This column contains the Brian and Nathan tab-->
        <td>
            <!--Following is the Brian tab -->
            <div  class = "drivers" style= "background-color:lightblue">
                <table>
                    <!--Brian's Info-->
                    <td>
                        <h3>Brian</h3>
                        <p>Maggie's Random Brand Style 1</p>
                        <p>Remaining seats : 3</p>
                        <button type="button" onclick="alert('Successfully reserved Brian!')">Reserve Brian</button>
                    </td>
                    <!--The separator for space-->
                    <td>
                        <div class = "v-separators"></div>
                    </td>
                    <!--Brian's photo-->
                    <td>
                      <img src = "https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/16196015_10154888128487744_6901111466535510271_n.png?_nc_cat=103&_nc_ht=scontent-lax3-1.xx&oh=bb9ccf1e8cdd270c5434e1d4c53750b1&oe=5D43E7E9" width = "125" height="125">
                    </td>
              </table>
            </div>
            <!-- The separator for space -->
            <div class = "h-separators"></div>
            <!-- Following is the Nathan tab -->
            <div  class = "drivers" style= "background-color:lightblue">
                <table>
                <!--Nathan's Info-->
                <td>
                    <h3>Nathan</h3>
                    <p>Maggie's Random Brand Style 2</p>
                    <p>Remaining seats : 4</p>
                    <button type="button" onclick="alert('Successfully reserved Nathan!')">Reserve Nathan</button>
                </td>
                <!--The separator for space-->
                <td>
                    <div class = "v-separators"></div>
                </td>
                <!--Nathan's photo-->
                <td>
                  <img src = "https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/16196015_10154888128487744_6901111466535510271_n.png?_nc_cat=103&_nc_ht=scontent-lax3-1.xx&oh=bb9ccf1e8cdd270c5434e1d4c53750b1&oe=5D43E7E9" width = "125" height="125">
                </td>
            </table>
            </div>
        </td>

        <!--The separator for space-->
        <td>
            <div class = "v-separators"></div>
        </td>

        <!--The column of the request rides panel-->
        <td>
            <!--The actual division containing te ride request panel-->
            <div>
                <h3>New ride request</h3>
                <p>From:</p>
                <select>
                    <option value="Sixth">UCSD-Sixth</option>
                    <option value="ERC">UCSD-ERC</option>
                    <option value="UTC">UTC Mall</option>
                    <option value="Regents">Regents La Jolla</option>
                </select>
                <p>To:</p>
                <select>
                    <option value="Sixth">UCSD-Sixth</option>
                    <option value="ERC">UCSD-ERC</option>
                    <option value="UTC">UTC Mall</option>
                    <option value="Regents">Regents La Jolla</option>
                    </select>

                <p>I am going to: </p>
                <select>
                    <option value="drive">Drive</option>
                    <option value="ride">Ride</option>
                </select>

                <p>I need / have <textarea rows = "1" cols = "2"></textarea> seats
                </p>
            </div>
        </td>
    </tr>

    <!--Row for the Garrett tab-->
    <tr>
        <td>
            <!--Following is the Garrett tab-->
            <div  class = "drivers" style = "background-color:lightblue">
                <table>
                <!--Garrett's Info-->
                    <td>
                        <h3>Garrett</h3>
                        <p>Maggie's Random Brand Style 1</p>
                        <p>Remaining seats : 3</p>
                        <button type="button" onclick="alert('Successfully reserved Garrett!')">Reserve Garrett</button>
                    </td>
                    <!--The separator for space-->
                    <td>
                        <div class = "v-separators"></div>
                    </td>
                    <!--Garrett's photo-->
                    <td>
                        <img src = "https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/16196015_10154888128487744_6901111466535510271_n.png?_nc_cat=103&_nc_ht=scontent-lax3-1.xx&oh=bb9ccf1e8cdd270c5434e1d4c53750b1&oe=5D43E7E9" width = "125" height="125">
                    </td>
            </table>
            </div>
        </td>
     </tr>
</table>
