* {
  margin: 0;
  <-- font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; -->
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf");
}

.titles-home {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-indent: 80px;
  padding-top: 30px;
}
#pitch-tag1 {
  padding-top: 81px;
}

#ridesharing-redefined {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url("/images/long-road.jpg");
  background-size: cover;
  background-position: center;
  font-size: 80px;
  font-family: "Raleway";
  text-shadow: 2px 2px 20px #000000;
  color:#FAFAFA;
  text-align: center;

  padding-top: 150px;
  <-- padding-left: 250px; -->
}
#pitch-tag2 {
  padding-bottom: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  overflow: hidden;
  background-color:#212121;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: "Raleway";
}

li {
  float: left;
}

#logo-link {
  margin: 10px;
}
#drive-link {
  padding-right:787px;
}
#login-link {
  padding-right:78px;
}
.active {
  font-size: 26px;
  display: block;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
  color:#F5F5F5;
  transition: background-color 0.2s ease-out;
}

.active:hover {
  background-color:#607D8B;
}
#welcome {
  padding-left: 500px;
  border: 0;
  margin: 0;
  padding-bottom: 0;
}
#sign-up {
  padding-left: 1000px;
}
#signup {
  padding-left: 250px;
  padding-right: 500px;
}
#credits {
  padding-left: 600px;
}
.descriptions {
  font-size: 22px;
  text-indent: 80px;

}

a {
  color: #00B7FF;
}
