/*-------------------Title-----------------*/

/* Title Division */
#signup-title{
    height: 40%;
}

/* "Create your rides account today!" */
#login-welcome{
    padding-top: 50px;
    text-align: center;
    color: #66aacc;
    text-shadow: 2px 2px 10px #CCCCCC;
    font-size: 60px;
    position: relative;
    animation: textToTop 1.2s linear;
}

/* ---------------------Body--------------------- */

/* The whole division containing signup info*/
.signup-block{
    padding-top: 50px;
    overflow: hidden;
    animation: bodyToTop 1.5s linear;
}

/* The left half of the page */
#left-block{
    width : 30%;
    padding-left: 15%;
    float:left;
}

/* The right half of the page */
#right-block{
    width:30%;
    padding-left: 50%;
}

/* The texts above input boxes */
.signup-text{
    padding-top:5px;
    font-weight: bold;
}

/* Input boxes */
.signup-input{
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 10px;
}

/* Highlights the input box when hovered */
.signup-input:hover{
    width: 50%;
    outline-width: 0px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #8CBFD9;
    padding-bottom: 10px;
}

/* Highlights the input box when selected */
.signup-input:focus{
    width: 50%;
    outline-width: 0px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #8CBFD9;
    padding-bottom: 10px;
}

/* Creates extra spacing on bottom of each line */
.signup-right-text{
    padding-bottom: 30px;
}

/* Customizes link default color */
#login-link{
    color: #66aacc;
}

/* Changes link color when hovered */
#login-link:hover{
    color: #8CBFD9;
}

/* Fades the text because the functionality is coming soon :( I need help */
#coming-soon{
    color: #AAAAAA;
}

/* Button style that matches the ones in Rides.js */
.material-button {
  padding: 8px 16px;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 14px;
  color: #F5F5F5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  text-transform: uppercase;
  background:#212121;
  border: none;
  border-radius: 4px;
}

/* Changes the background of the button when hovered */
.material-button:hover{
    background: #555555;
}

/* Error message styles */
.error-message {
    color : #ff6666;
    padding-top: 5px;
    font-style: italic;
}

/* --------------------Animations-------------------*/

/* Simple animation that makes text move up */
@keyframes textToTop{
    0%{
        transform : translateY(20px);
        opacity:0;
    }

    100%{
        transform: translateY(0px);
        opacity:1;
    }
}

/* Animation of the login info, with a delay */
@keyframes bodyToTop{
    0%{
        transform : translateY(40px);
        opacity:0;
    }

    30%{
        transform: translateY(20px);
        opacity:0;
    }

    100%{
        transform: translateY(0px);
        opacity:1;
    }
}